@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
    background-color: grey;
}

.header {
    font-size: large;
    text-align: center;
    margin-bottom: 2px;
}

/*Control buttons styles*/

.controls {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#begin_btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

#next_btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*question frame styling*/
.question {
    color: black;
    background-color: rgba(212, 237, 241, 0.836);
    border-radius: 28px;
    width: 60vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 0 10px 2px;
}

/*Answer container styling*/

.answer_container {
    width: 60vw;
    border-radius: 28px;
    background-color: rgba(228, 177, 110, 0.863);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px 2px;
    border: none;
}

.answer_container:hover {
    cursor: pointer;
    box-shadow: black;
    transform: scale(1.03);
}

.option {
    padding: 0.5rem 2.5rem
}

@media screen and (max-widht: 768px) {
    .answer_container {
        min-width: 20rem;
    }
}

/* social network styling */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 260%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.owner {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    float: right;
    text-decoration: none;
    color: black;
}
