@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: Lato;
    font-weight: 600;
}



body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

body.correct {
    background-color: aquamarine;
}

body.wrong {
    background-color: darkgray;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: bisque;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px 4px;
}

.btn_grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue:var(--hue-neutral);
    height: 60px;
    border: 2px solid darkgray;
    background-color: cornsilk;
    border-radius: 8px;
    padding: 2x 6px;
    font-size: 100%;
    color: black;
    outline: none;
}

.btn:hover{
    border-color: darkgray;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    background-color: lightcoral;
}

.btn.correct {
    background-color: rgb(184, 184, 129);
}

.start_btn, .next_btn {
    font-size: 120%;
    font-weight: 600;
    padding: 6px 12px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#question {
    text-align: center;
    font-size: 120%;
}