@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: Lato;
    font-weight: 600;
}

/* Background colors for correct and wrong answers */

body.correct {
    background-color: #8fbc8f;
}

body.wrong {
    background-color: #cd5c5c;
}

/*HMTL body styling*/

body {
    margin-left: 28%;
    margin-top: 15%;
    background-color: darkgray;
}

/*Styling for the container with buttons and the questions*/

.container {
    width: 650px;
    max-width: 80%;
    background-color: bisque ;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px 4px;
}

/*score div styling*/

#score
{
    display: inline;
    z-index: 100;
}

/*Styling of the buttons inside the container*/

.btn_grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue:var(--hue-neutral);
    height: 60px;
    border: 2px solid darkgray;
    background-color: cornsilk;
    border-radius: 8px;
    padding: 6px;
    font-size: 100%;
    color: black;
    outline: none;
}

#btncounter {
    height: 30px;
    width: 20px;
    position: absolute;
}

.btn.correct {
    background-color: #8fbc8f;
}

.start_btn, .next_btn {
    font-size: 120%;
    font-weight: 600;
    padding: 6px 12px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#question {
    text-align: center;
    font-size: 120%;
}

#progress {
    width: 100%;
    border-radius: 4px;
    background-color: gray;
}

#progress_bar {
    width: 1%;
    height: 15px;
    background-color: green;
    border-radius: 4px;
    margin-bottom: 6px;
}

/* Media queries */

/* For larger to medium screens size from 320px wide and down */

@media screen and (max-width: 320px) {

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

body.correct {
    background-color: aquamarine;
}

body.wrong {
    background-color: darkgray;
}

.container {
    width: 600px;
    max-width: 80%;
    background-color: bisque;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px 4px;
}

.btn_grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue:var(--hue-neutral);
    height: 60px;
    border: 2px solid darkgray;
    background-color: cornsilk;
    border-radius: 8px;
    padding: 6px;
    font-size: 80%;
    color: black;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

.btn:hover{
    border-color: darkgray;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    background-color: lightcoral;
}

.btn.correct {
    background-color: rgb(184, 184, 129);
}

.start_btn, .next_btn {
    font-size: 120%;
    font-weight: 600;
    padding: 6px 12px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#question {
    text-align: center;
    font-size: 120%;
}
}